<% content_for :head do %>
<% end %>
<div id="game_index" class="row">
  <div class="span3">
    <h3>Existing Games</h3>
    <% @games.each do |game| %>
      <%= link_to game.name, game %><br>
    <% end %>
  </div>
  <div class="span3">
    <% @games.each do |game| %>
      <%= game.description %>
    <% end %>
  </div>
  <br>
</div>

<br>
<br>
<%= link_to 'New Game', new_game_path %>